[
  { ldns, [
           {udp_port, 8788},
           {discovery_ports, [8789]},
           {auth_disabled, false},
           {auth_hashfun, sha512},
           {auth_maxclockskew, 30},
           {auth_psk, "my-secret-psk"},
           {hosts_file, "/tmp/hosts"},
           {hosts_tag, "# ldns"},
           {monitor_interval, 180},
           {localhost_interval, 360}
          ]}
].
